<header>
    <div class="row">
        <h4 class="col-sm-12 col-xs-12 hidden-print">Curriculum vitae</h4>
        </div>
    <div class="row header">
        <section class="name_container col-sm-8 col-xs-8">
            <h1 class="name_title">Vincent Audet</h1>
            <h2 class="name_title">Étudiant en génie informatique</h2>
        </section>
        <address class="basic_info col-sm-4 col-xs-4">
            <ul class="name_title list-unstyled">
                <li>3165 Avenue Lacombe, Montréal</li>
                <li>Téléphone : <a href="tel:1-514-743-3549">514-743-3549</a></li>
                <li>Courriel : <a href="mailto:audetvincent@gmail.com">audetvincent@gmail.com</a></li>
            </ul>
        </address>
    </div>
</header>