<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>My Curriculum vitae</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" media="all"/>
        <!-- Optional Bootstrap them -->
        <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="~/Styles/StyleSheet.css" />
    </head>
    <body  class="container-fluid">
        @RenderPage("~/Shared/_headerFR.cshtml")
        <div id="main">
            @RenderBody()
        </div>
        <script src="~/Scripts/jquery-2.2.0.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
    </body>
</html>
