/* bootstrap container_fluid modification
   so it has a max width */
.container-fluid{
    max-width: 790px;
    margin: 0 auto;
}

#main{
    text-align: justify;
}

header{
    padding-bottom: 15px;
    border-bottom:solid;
}
h1{
    font-variant: small-caps;
    font-size: 2.5em;
    font-weight: 500;
}

h2{
    font-size: 1.5em;
    margin: .25em 0;
}

h3{
    font-size: 1.25em;
    margin: auto 0;
    text-decoration: underline;
}

h4{
    font: 1.1em;
    color: #996600;
    padding:10px 0;
}

h5{
    font: 1em;
    margin: .25em auto;
}

ul{
    padding-left:15px
}

.header{
    font-size:0;
}

.header > *{
    float: none;
    display: inline-block;
    font-size: 12px;
}

.basic_info{
    text-align: right;
    vertical-align: bottom;
    margin-bottom: 0;
}

.name_title{
    margin: auto 0;
    text-decoration: none;
}